@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body {
  @apply h-screen cursor-none;
}

.cursor-dot {
  @apply w-2 h-2 bg-cyan-400;
}

.cursor-outline {
  @apply w-10 h-10 border-2 border-[#952cf1];
  transition: left 0.2s ease-out, top 0.2s ease-out; /* Smooth follow effect */
}

.cursor-dot,
.cursor-outline {
  @apply fixed top-0 left-0 transform -translate-x-1/2 -translate-y-1/2 rounded-full z-10 pointer-events-none;
}





@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
